provider = "keycloak-oidc"
oidc_issuer_url = "https://idp.example.net/realms/example"
client_id = "betreuungskalender"
client_secret = "CHANGE_ME"
redirect_url = "https://app.example.net/oauth2/callback"
scope = "openid email profile"
oidc_groups_claim = "groups"

email_domains = [ "*" ]
http_address = "0.0.0.0:4180"
upstreams = [ "http://betreuungskalender:3000" ]
trusted_ips = [ "127.0.0.1/32", "192.0.2.10/32" ]

cookie_secret = "CHANGE_ME_32_BYTE_BASE64"
cookie_secure = true
cookie_httponly = true
cookie_samesite = "lax"

reverse_proxy = true
set_xauthrequest = true
pass_user_headers = true
pass_access_token = false
pass_authorization_header = false
